:root {
  --m-2: 1rem;
  --m-3: 1.5rem;
  --m-4: 2rem;
  --m-5: 2.5rem;
  --m-6: 3rem;
  --m-8: 4rem;
  --m-10: 5rem;
  --m-container: 10rem;

}
/*   Dark theme*/
body {
  background-color: black;
  color: white;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}




/*///////// Utitility \\\\\\\\*/

.red-dot {
  color: red;
}
.tab {
  margin: auto var(--m-2);
}

.to-top{
   position:fixed;
	width:40px;
	height:40px;
	bottom:40px;
	right:40px;
	background-color:rgba(214, 124, 124, 0.363);
	color:#FFF;
	border-radius:50px;
	text-align:center;
  transition: all 300ms;
}
.to-top:hover{
  background-color: red;
}

/*///////// Utitility  END \\\\\\\\*/


/* #### GENERAL #### */
html {
  scroll-behavior: smooth;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}


/* ###### HEADER / NAV SECTION ##### */
header {
  margin: auto var(--m-8);
}

.container {
  margin: auto var(--m-container);
}

.p-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: xx-large;
  font-weight: 500;

  font-family: "Jolly Lodger";
}

.nav-menu ul {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  list-style: none;
}
.nav-menu .nav-list a {
  text-decoration: none;
  font-size: x-large;
  color: rgb(95, 92, 92);
}
.nav-menu .contact-btn {
  margin-left: var(--m-8);
  background: rgb(236, 58, 82);
  padding: 1px var(--m-2);
  border-radius: var(--m-2);
  color: white;
  transition: box-shadow 300ms;
}

.contact-btn:hover {
  box-shadow: 0px 0px 20px 5px rgb(255, 0, 60);
}

.nav-item {
  position: relative;
}

.nav-item::before {
  content: "";
  transition: 300ms;
  top: var(--m-3);
  height: 5px;

  position: absolute;
  background-color: #f79588;
  width: 0%;
  bottom: 10px;
}

.nav-item:hover {
  color: #d81919;
}
.nav-item:hover::before {
  width: 100%;
}

.nav-toggle {
  display: none;
  cursor: pointer;
}
/*____ HEADER NAV END ____ */


/* ########## HOME / HERO SECTION  */
#home {
  display: flex;
  justify-content: space-evenly;
}

/* .hero-left {
  height: auto;
  width: 100%;
  position: relative;
} */

.hero-left::before {
  content: "";
  position: absolute;
  z-index: -10;
  top: 10rem;

  width: 100%;
  height: 100%;
  background: url("assets/images/hero-bg.svg") no-repeat;
}

.hero-section .hero-title {
  font-size: 50px;
}

.hero-section .hero-name {
  color: red;
}
.hero-image img {
  height: 500px;
}

.hero-description {
  width: 400px;
}

.socials {
  display: flex;
  gap: var(--m-4);
  color: black;
}
.fa-brands, .fa-envelope{
  color: rgb(235, 69, 91);
  ;
}
.fa-brands:hover {
  box-shadow: 0px 0px 20px 5px rgb(255, 0, 60);
}
.fa-envelope:hover {
  box-shadow: 0px 0px 20px 5px rgb(255, 0, 60);
}



.hero-section .cv-download {


  background-color: rgb(235, 69, 91);
  width: 180px;
  border-radius: var(--m-2);
  text-align: center;
  font-size: x-large;
  margin-top: var(--m-2);

  color: white;
}
.cv-download a {
  text-decoration: none;

  color: white;
}
.cv-download:hover {
  box-shadow: 0px 0px 20px 5px rgb(255, 0, 60);
}

/* ##### ABOUT ME SECTION ###### */
.about-me-top {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: var(--m-4);
}
.about-me-top h1 {
  font-size: 50px;
  margin-bottom: 0px;
}
.about-me-img {
  text-align: center;
  /* height: 200px; */
  width: 500px;
  margin: 0 auto;
}
.about-me-img img {
  width: 100%;
}



/* ##### Skills SECTION */
.Skills-grid {
  display: flex;
  justify-content: space-around;
}

.Skills-card {
  width: 180px;
  text-align: center;
  padding: var(--m-2);

  border-radius: 1rem;
  transition: margin 500ms, box-shadow 500ms;
  /* transition: margin 700ms; */
}

.Skills-card:hover {
  margin-top: -10px;
  box-shadow: 5px 15px 26px 11px rgba(208, 196, 196, 0.98);
}

/*    circle for skills*/
div.width-50{
  justify-content: space-around;
  position: relative;
  display: flex;
}

div[role="progressbar"] {
  
  justify-content: space-around;
  
  display: flex;
  text-align: center;
  padding: var(--m-1);
	color: #ff5335;
  
	margin-left: 40px;
  margin-right: 40px;
	margin-bottom: 20px;

  width: 180px;


  border-radius: 1rem;
  transition: margin 500ms, box-shadow 500ms;
 
  
	width: 100px;

	height: 100px;
	
	border-radius: 50%;

	place-items: center;
	

	--pgPercentage: var(--value);
	background: radial-gradient(closest-side, rgb(216, 241, 238) 80%, transparent 0 99.9%, black 0),
		conic-gradient(rgb(236, 58, 82) calc(var(--pgPercentage) * 1%), #ee9d9747 0);

}




/* ######## PROJECTS OR PORTFORLIO SECTION ####### */
.projects {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.project-card {
  

  /* zoom via cursior*/
  position: relative;
        
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    
    transform:
      perspective(750px)
      translate3d(0px, 0px, -250px)
      rotateX(27deg)
      scale(0.9, 0.9);
    border-radius: 20px; 
    
    transition: 0.4s ease-in-out transform;
  
    &:hover {
      transform: translate3d(0px, 0px, -250px);
    }
  
}
.project-card img {
  
  
  border-radius: var(--m-2);

  box-shadow: 0px 5px 16px 5px rgba(208, 196, 196, 0.98);
  transition: box-shadow 300ms;
}
.project-card:hover img {
  box-shadow: 0px 5px 16px 10px rgba(238, 107, 107, 0.98);
}
.project-detail {
  opacity: 0%;
  color: white;
  background-color: rgba(0, 0, 0, 0.322);

  font-size: x-large;
  font-weight: 600;
  position: absolute;
  margin-top: -150px;
  padding: var(--m-2);
  transition: opacity 500ms;
}

.project-detail:hover {
  opacity: 100%;
}




/* ######## Certification OR PORTFORLIO SECTION ####### */
.Certification {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.CertificatEDX{
    position: relative;
    .project-card img {
      height: 100%;
      width: 100%;
      border-radius: var(--m-2);
      box-shadow: 0px 5px 16px 1px;
      transition: box-shadow 300ms;
    }
}
.project-card {
  position: relative;
}
.project-card img {
  height: 100%;
  width: 100%;
  border-radius: var(--m-2);
  box-shadow: 0px 5px 16px 5px rgba(208, 196, 196, 0.98);
  transition: box-shadow 300ms;
}
.project-card:hover img {
  box-shadow: 0px 5px 16px 10px rgba(238, 107, 107, 0.98);
}
.project-detail {
  opacity: 0%;
  color: white;
  background-color: rgba(0, 0, 0, 0.322);

  font-size: large;
  font-weight: 200;
  position: absolute;
  margin-top: -150px;
  padding: var(--m-2);
  transition: opacity 500ms;
}

.project-detail:hover {
  opacity: 100%;
}


/* ===== CONTACT =====*/
.contact{
  
  padding-bottom: 2px;
  transform: perspective(1500px) rotateY(18deg);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: transform 1s ease 0s;

  &:hover {
    transform: perspective(3000px) rotateY(5deg);
  }
 
  }
 
.contact__input {
  position: relative;
  width: 80%;
  margin-top: 2rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(rgb(227, 210, 210));
  background-color: rgba(211, 211, 211, 0.148);
  margin-bottom: var(--mb-4);
  
  
}


.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  background-color:rgb(236, 58, 82);
  width: 150px;
  border-radius: var(--m-2);
  text-align: center;
  font-size: x-large;
  color: #FFF;
  margin-top: var(--m-4);
}
.contact__button:hover {
  box-shadow: 0px 0px 20px 5px rgb(255, 0, 60);
}

.bottom-social {
  justify-content: center;
}

.footer {
  padding-top: 25px;
  display: block;
  text-align: center;
}


/* BG Effect*/







/* Responsiveness  FOR MOBILE DEVICES*/

@media screen and (max-width: 780px) {

  .container {
    margin: auto var(--m-2);
  }

  /* *** HEADER NAV *** */
  header {
    margin:  var(--m-2);
   
  }

  .nav-toggle {
    display: block;
  }

  
  .nav-menu {
    display: flex;
    justify-content: space-between;
  }

  .nav-list {
    padding: var(--m-5);
    border-radius: 10% 0 5px 5%;
    position: relative;
    flex-direction: column;
    top: var(--m-5);
    opacity: 0%;
    top: -350px;
    background: linear-gradient(rgba(250, 157, 157, 0.568),rgba(217, 232, 247, 0.911));
    transition: all 300ms;
  }

  .show-menu {
    top: 0;
    opacity: 100%;
    transition: top 400ms;
  }

  .nav-menu .contact-btn {
    margin: auto;
    margin-left: -10px;
    background: #000;
    padding: 1px var(--m-2);
    border-radius: var(--m-2);
    color: white;
    transition: box-shadow 300ms;
  }


  /* *** HERO SECTION*** */
  #home {
    flex-direction: column-reverse;
    margin-top: -200px;
  }

  
  .hero-description {
    width: auto;
  }

  .hero-image img {
    height: auto;
    width: 100%;
  }
  
  /* ***ABOUT ME SECTINO*** */
  .about-me-img {
    width: auto;
  }

  
  /* **Skills SECTION** */
  .Skills-grid {
    flex-direction: column;
    margin: auto;
  }
  
  .Skills-card {
    width: auto;
  }

  .Certification {
    flex-direction: column;
  }
  .projects {
    flex-direction: column;
  }

  
 

}
